In [1]:
import pandas as pd

**pandas.Series**

*Pandas Series is a One Dimensional indexed array. It is most similar to the NumPy array. pandas.Series is a method to create a series.*

*Series is similar to python list but series have additional functionality, methods, and operators, because of these series is advanced than a list.*

**1. Creating series from list**

*but first, we are creating a list*

In [3]:
x = [1, 2, -3, 4.5, 'miet']  #  Python list stores int, float, string data types
print(x)

[1, 2, -3, 4.5, 'miet']

In [4]:
s = pd.Series(x)
print(s)

0       1
1       2
2      -3
3     4.5
4    miet
dtype: object

*Here it is showing 0 1 2 3 4 is index and 1 2 -3 4.5 miet are data values.*

*pandas.core.series.Series means series is a one-dimensional array, which can store indexed data*

In [5]:
# check the type 
type(s)

pandas.core.series.Series

**2. Creating Empty Series**

*Empty series is like an empty list, we can create empty series using an empty list*

In [6]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

c:\program files\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [7]:
empty_s = pd.Series([],dtype=int) # for ignoring warning mention dtype
print(empty_s)

Series([], dtype: int32)

**3. Creating Series using a different method**

*List inside the series*

In [9]:
s2 = pd.Series([11,12,13,14,5])
print(s2)

0    11
1    12
2    13
3    14
4    15
dtype: int64

*in index parameter, default index is start from 0 to n (0,1,2,….n) when index is not identified
Here we are creating series with the index parameter
Index length should have equal to the number of data values, otherwise, it shows error*

In [10]:
s2 = pd.Series([11,12,13,14,15], index = ['a', 'b', 'c', 'd', 'e'])
print(s2)

a    11
b    12
c    13
d    14
e    15
dtype: int64

*We can change index to any numbers, alphabates, names etc.

Above you can see dtype: int64, this means our data type has stored in integer 64 bit.
we can change the data type of series*

**Changing data type of series (Convert int into a float)**

In [11]:
s2 = pd.Series([11,12,13,14,15], index = ['a', 'b', 'c', 'd', 'e'],dtype=float)
print(s2)

a    11.0
b    12.0
c    13.0
d    14.0
e    15.0
dtype: float64

**4. Creating series from scalar values**

*scalar values means single value e.g. 1, 0.5, ‘miet’*

In [12]:
s3 = pd.Series(25)
print(s3)

0    25
dtype: int64

*for more data values index should be needed.*

In [13]:
s3 = pd.Series(25, index = [1,2,3,4,5])
print(s3)

1    25
2    25
3    25
4    25
5    25
dtype: int64

**5. Creating series from python dictionary**

In [14]:
s4 = pd.Series({'a':1, 'b':2, 'c':3})
print(s4)

a    1
b    2
c    3
dtype: int64

In [15]:
s2 #take s2 series for accessing element

a    11.0
b    12.0
c    13.0
d    14.0
e    15.0
dtype: float64

In [19]:
s2['a']

11.0

In [20]:
s2['e']

15.0

**Slicing series**

*Here we are slicing series with index value 1 to 4 that means 1 is inclusive(it can be taken) and 4 is exclusive(it can be not taken)*

In [21]:
s2[1:4]

b    12.0
c    13.0
d    14.0
dtype: float64

**series can be done by using mathematical operators**

# Adding two serieses

In [22]:
s5 = pd.Series([1,2,3,4,5])
s6 = pd.Series([1,2,3,4,5])
 
a = s5 + s6
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

*we can also add series using add method*

In [23]:
s5.add(s6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

**min() operator gives minimum value of particular series**

In [24]:
min(a)

2

**max() operator gives maximum value of particular series**

In [25]:
max(a)

10

**Conditional operator**

*If you want to print less than 8 values*

In [26]:
a[a<8]

0    2
1    4
2    6
dtype: int64

**Using drop() function we can eliminate any index value**

In [27]:
a.drop(4)

0    2
1    4
2    6
3    8
dtype: int64

**Pandas have additional functions to fill missing values, it does not show an error when the value is missing. Missing values are shown by NaN.**
See below example:


In pandas, we can add the unequal data values series. Here series s6 have 5 data values and s7 have 3 data values, when we perform addition operation it adds successfully

In [28]:
s6

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [29]:
s7=pd.Series([21,31,41])
s7

0    21
1    31
2    41
dtype: int64

In [31]:
b=s6+s7
b

0    22.0
1    33.0
2    44.0
3     NaN
4     NaN
dtype: float64

In [35]:
b.fillna(3)# to fill NaN values use fillna() we will discuss it in DataFrame also

0    22.0
1    33.0
2    44.0
3     3.0
4     3.0
dtype: float64