In [1]:
import pandas as pd

# Python Pandas DataFrame
## Pandas DataFrame is two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes(rows & columns).

**Creating DataFrame with different ways**

## **1. Creating empty dataframe**

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

## 2. Creating dataframe from list

In [4]:
list=['a','b','c','d']
df=pd.DataFrame(list)
df

   0
0  a
1  b
2  c
3  d

**Here first row(0) is data values column index/label and first column is index (which is start from 0) and second column have data values.**

## 3. Creating dataframe from list of list

In [7]:
list=[[1,2,3],[3,4,5],[5,6,7]]
df=pd.DataFrame(list)
df

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7

**Here first row (0,1,2) is column index/label and three data values columns**

## 4. Creating dataframe from dict or dictionary or python dictionary

In [9]:
d={'Name':['vivek','ajay','umang']}
df=pd.DataFrame(d)
df

    Name
0  vivek
1   ajay
2  umang

In [10]:
# if you need more than one columns
d={'Name':['vivek','ajay','umang'],'Rollno':[1,2,3]}
df=pd.DataFrame(d)
df

    Name  Rollno
0  vivek       1
1   ajay       2
2  umang       3

*Here dataframe have two columns*

## 5. Creating dataframe from list of dict

In [11]:
list_dict = [{'a':1, 'b':2}, {'a':3, 'b':4}]   # Creating list of dict
df = pd.DataFrame(list_dict)   # Creating dataframe from list of dict
df

   a  b
0  1  2
1  3  4

In [12]:
# Creating dataframe from list of dict with different way
 
list_dict = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]   
df1 = pd.DataFrame(list_dict)
df1

   a  b    c
0  1  2  NaN
1  3  4  5.0

**Here in first dictionary ‘c’ is not defined but that command not gives error because pandas has function to handle missing values (which is shown by NaN)
NaN means not a number**

## 6. Creating dataframe from dict of series

In [13]:
dict_sr = {'ID': pd.Series([1,2,3]), 'SN': pd.Series([111,222,333])}
df = pd.DataFrame(dict_sr)
df

   ID   SN
0   1  111
1   2  222
2   3  333